.my_button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button:hover {
    background-color: #3e8e41
}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.side {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 0;
}

.scroll-area {
    width: 100%;
    height: calc(100% - 200px);
    margin-top: 100px;
    background-color: green;
    float: left;
    overflow-y: scroll;
}

.rounded {
    border-radius: 10px;
    background: #000;
/ / without a background or border applied you won 't be able to see if its rounded
}

.row .col {
    border: 1px solid #000;
}

.map {
    height: 250px;
    width: 100%;
}

audio {
    width: 100%;
    margin-bottom: 3px;
}

@media (min-width: 992px) {
    .map {
        height: 500px;
        width: 100%;
    }

    #location_list {
        overflow: scroll;
        height: 485px;
    }

    #ratings_list {
        overflow: scroll;
        height: 350px;
    }
}
