#brand {
    font-weight: bold;
    color: #ffffff;
    position: relative;
    vertical-align: middle;
}

.btn-space {
    margin-bottom: 3%;
}

.btn-space-right {
    margin-right: 3%;
}

.btn-width {
    width: 115%;
}

.border {
    border-radius: 5px;
}

.border-blue {
    border-radius: 5px;
    border-color: #337ab7;
}

.modal-margin {
    margin-top: 40%;
}

#fehlermeldung {
    color: red;
}

.semester-gesamt {
    margin-top: 2%;
    border: 2px solid #000;
    border-radius: 5px;
    overflow: hidden;
    height: 50px;
}

.absolute_center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.catalog_border {
    border-radius: 5px;
    border: 2px solid #000;
    margin-bottom: 3%;
}

.modules_border {
    border-radius: 5px;
    border: 2px solid #000;
    margin-bottom: 3%;
}

.fett {
    font-weight: bold;
}

.margin-top {
    margin-top: 2%;
    margin-right: 1%;
    margin-left: 1%;
}

.container_body {
    height: calc(100vh - 88px);
    overflow: auto;
}

.footer {
    height: 30px;
    bottom: 0;
    position: absolute;
}

.modul_popup_buttons {
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
}

.blocked {
    color: #ffffff;
    background-color: #8c8c8c;
    border-radius: 3px;
}

.blocked_wpp {
    color: #ffffff;
    background-color: #8c8c8c;
    border-radius: 3px;
}

.rules {
    margin-top: 0.3%;
    border: 2px solid #dc3545;
    border-radius: 5px;
}

.not_available {
    background: red;
}

.modal-margin-new {
    margin-top: 10%;
}