body {
    overflow-x: hidden;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

.my_button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.mar {
    margin-top: auto;
}

.button:hover {
    background-color: #3e8e41
}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.scrollbar {
    max-height: 600px;
    background: #fff;
    overflow-y: scroll;
}

.rounded {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 0.5%;
    margin-top: 0.5%;
}

.rounded-semester {
    border: 2px solid #000;
    border-radius: 10px;
    padding-top: 3px;;
    margin-left: 0.3%;
}

.rounded-scrollbar-left {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 5px;
    overflow-x: hidden;
}

.katalog {
    border: 1px solid #000;
    border-radius: 10px;
    /*margin-bottom: 8px;*/
    /*padding: 5px;*/
    background: #eee;
}

.semester-border {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 5px;
}

div {
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0px;
    padding: 0px;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;

}

.blocked {
    color: #aaa;
    background-color: #8c8c8c;
    border-radius: 10px;
}

.blocked_wpp {
    color: #aaa;
    background-color: #8c8c8c;
    border-radius: 10px;
}

.include {
    color: #000000;
    background-color: #ffc107;
    border-radius: 4px;
}

.unblocked {
    background: #eee;
}

html, body {
    height: 100%;
}

.rules {
    margin-top: 0.3%;
    border: 2px solid #dc3545;
    border-radius: 10px;
}

.semester-gesamt {
    margin-top: 0.5%;
    border: 2px solid #000;
    border-radius: 10px;
    overflow: hidden;
}

.semester {
    border: 2px solid #000;
    border-radius: 10px;
    margin: 0.3%;
    overflow: hidden;
}

.modul {
    border: 2px solid #000;
    border-radius: 10px;
    margin: 0.3%;
    display: none;
    overflow: hidden;
}

.semester .tags {
    border-right: 1px solid #000;
    overflow: hidden;
    /*pointer-events: none;*/
}

.katalog_label {
    border-right: 1px solid #000;
    width: 100%;
    heigth: 100%;
    /*pointer-events: none;*/
}

.ausgewaehlt {
    border: 4px solid #28a745;
    border-radius: 5px;
    margin: 1%;
}

.open_catalog {
    border: 5px double #c00000;
    border-radius: 5px;
    padding: 1%;
    /*background : #eee;*/
}

ul li ul li {
    border: 1px solid #000;
    border-radius: 10px;
}

ul .abstand li {
    margin-bottom: 0.3%;
    padding: 1%;
}

#fehlermeldung {
    color: red;
}

.datenergaenzen {
    margin-bottom: 2%;
    width: auto;
}

/* .blocked {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
} */

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.red_border {
    border: 4px solid red;
}

.blink {
    border: 4px solid blue;
    color: #005cbf;
    background-color: #0069d9;
}
