<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/expandable_tree_list.css")">
        @*<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/bootstrap-grid.min.css")">*@
        @*<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/bootstrap-reboot.min.css")">*@
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/desktop.css")">

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    </head>

    <script src="@routes.Assets.versioned("js/jquery-3.2.1.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("js/bootstrap.bundle.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("js/CollapsibleLists.js")" type="text/javascript"></script>

    <body>
            <!-- Container full website -->
        <div class = "container-fluid">
            <div class = "row">
                <span class = "col" align = "center">
                    <br>
                    <h1>
                    Planungsunterstützungstool Master technische Informatik
                    </h1>
                </span>
            </div>
                <!-- Container Menüleiste -->
            <div class = "container">
                <div class = "row rounded" align = "center">
                    <div class = "col" align = "center">
                        <button type = "button" class = "btn btn-primary">Neuer Plan</button>
                    </div>
                    <div class = "col mar" align = "center">
                        <h5>Semesteranzahl</h5>
                    </div>
                    <div class = "col" align = "center">
                        <button type = "button" onclick = "counter_minus()" class = "btn btn-primary">-</button>
                    </div>
                    <div class = "col mar" align = "center">
                        <h5 id = "count">0</h5>
                    </div>
                    <div class = "col" align = "center">
                        <button type = "button" onclick = "counter_plus()" class = "btn btn-primary">+</button>
                    </div>
                    <div class = "col" align = "center">
                        <button id = "button" class = "btn btn-primary">Plan laden</button>
                        <input id = "file-input" type = "file" name = "name" style = "display: none;"/>
                    </div>
                    <div class = "col" align = "center">
                        <button type = "button" class = "btn btn-primary" style = "width: auto">Plan speichern</button>
                    </div>
                    <div class = "col" align = "center">
                        <button type = "button" class = "btn btn-primary" style = "width: auto">PDF erstellen</button>
                    </div>
                    <div class = "col mar" align = "center">
                        <h5>ECTS:</h5>
                    </div>
                    <div class = "col mar" align = "center">
                        <h5>0</h5>
                    </div>
                </div>
            </div>
                <!-- Container um Katalogliste, Regeln, Semester -->
            <div class = "container">
                <div class = "row rounded">
                        <!-- Container Katalogliste -->
                    <div class = "col-4 container">
                        <div class = "col scrollbar rounded-scrollbar-left">
                            <div class = "row">
                                <span class = "col" align = "left">
                                    <h4>
	                    Modulkataloge
                                    </h4>
                                </span>
                            </div>
                            <div class = "katalog">
                                <ul class = "tree collapsibleList">
                                    <li>
									Katalog 1
                                        <ul>
                                            <li><a href = "#">Modul 1</a></li>
                                            <li><a href = "#">Modul 2</a></li>
                                            <li><a href = "#">Modul 3</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class = "katalog">
                                <ul class = "tree collapsibleList">
                                    <li>
									Katalog 2
                                        <ul>
                                            <ul class = "collasibleList"></ul>
                                            <li>
											Unterkatalog 1
                                                <ul>
                                                    <li><a href = "#">Modul 1</a></li>
                                                    <li><a href = "#">Modul 2</a></li>
                                                    <li><a href = "#">Modul 3</a></li>
                                                </ul>
                                            </li>

                                            <ul class = "collasibleList"></ul>
                                            <li>
											Unterkatalog 2
                                                <ul>
                                                    <li><a href = "#">Modul 1</a></li>
                                                    <li><a href = "#">Modul 2</a></li>
                                                    <li><a href = "#">Modul 3</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class = "katalog">
                                <ul class = "tree collapsibleList">
                                    <li>
									Katalog 3
                                        <ul>
                                            <li><a href = "#">Modul 1</a></li>
                                            <li><a href = "#">Modul 2</a></li>
                                            <li><a href = "#">Modul 3</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                        <!--  Container um Regeln, Semester -->
                    <div class = "col container">
                            <!--  Container Regeln -->
                        <div class = "container" id = "regeln">
                            <div class = "row">
                                <div class = "col warnungen">
                                    <p>Regel 1</p>
                                </div>
                            </div>
                        </div>
                            <!--  Container Semester -->
                        <div id = "semester">
                            <div class = "container semester-gesamt">
                                <div class = "row">
                                    <h6 class = "label">Semester 1</h6>
                                </div>
                                <div class = "row semester">
                                    <div class = "col tags id">
                                        <p>ID:</p>
                                    </div>
                                    <div class = "col tags name">
                                        <p>Name</p>
                                    </div>
                                    <div class = "col tags sws">
                                        <p>SWS:</p>
                                    </div>
                                    <div class = "col tags dozent">
                                        <p>Dozent:</p>
                                    </div>
                                    <div class = "col tags ulp">
                                        <p>ULP</p>
                                    </div>
                                    <div class = "col tags ects">
                                        <p>ECTS:</p>
                                    </div>
                                    <div class = "col tags btnloeschen">
								</div>
                                    <div class = "col btnverschieben">
								</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <script>

          var ausgewaehlt;

          CollapsibleLists.apply();

          $('#button').on('click', function () {
              $('#file-input').trigger('click');
          });

          function counter_plus() {
              var wert = Number(document.getElementById("count").textContent);
              wert++;
              document.getElementById("count").textContent = wert;
              add();
          }

          function counter_minus() {
              var wert = Number(document.getElementById("count").textContent);
              if (wert > 0) {
                  wert--;
              }
              document.getElementById("count").textContent = wert;
              deleteLast();
          }


          function semesterMarkieren(caller) {

              $('#semester').children().removeClass('ausgewaehlt');
              $(caller).toggleClass('semester ausgewaehlt');

              ausgewaehlt = $(caller).children().children().html().replace("Semester ", "");
              ;
              console.log(ausgewaehlt);
          }


          function add() {
              $("#semester").append(
                      '<div class = "container semester-gesamt" onclick="semesterMarkieren(this)">' +
                      '<div class = "row">' +
                      '<h6 class="label"></h6>' +
                      '</div>' +
                      '</div>'
              );
              $(".label").last().text("Semester " + $("#count").html());
          };

          function deleteLast() {
              //$("#semester row:nth-last-child(1)").filter( ":last" ).empty();
              //$("#semester").find("row:nth-last-child(1)").empty();
              // console.log($("#semester"));
              // console.log($("#semester:last-child").lastChild);
              // econsole.log($("#semester").filter(":last"));
              // console.log($("#semester").filter(":last").empty());
              // console.log($("#semester").children().first().empty());
              console.log($("#semester").children().remove());
          };

          function deleteByID(id) {
              //$("#semester row:nth-last-child(1)").filter( ":last" ).empty();
              //$("#semester").find("row:nth-last-child(1)").empty();
              // console.log($("#semester"));
              // console.log($("#semester:last-child").lastChild);
              // econsole.log($("#semester").filter(":last"));
              // console.log($("#semester").filter(":last").empty());
              // console.log($("#semester").children().first().empty());
              console.log($("#semester").children().filter(":nth-child(" + id + ")").remove());
          };

          function deleteAll() {
              console.log($("#semester").children().remove());
          };


          function toFile() {
              saveTextAs("", "test.csv");
          };

	</script>
    </body>
</html>