@(message: String)(modulListe: List[Array[Object]], katalogListe: List[Array[Object]])

<script src="@routes.Assets.versioned("../../public/functions/add_catalog.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("../../public/functions/add_semester.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("../../public/functions/append_free_module.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("../../public/functions/append_module.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("../../public/functions/availability_mask_modules.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("../../public/functions/availability_mask_semesters.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("../../public/functions/blink.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("../../public/functions/counter_minus.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("../../public/functions/counter_plus.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("../../public/functions/create_pdf.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("../../public/functions/debug.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("../../public/functions/delete_last_semester.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("../../public/functions/delete_module_from_semester.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("../../public/functions/fill_data.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("../../public/functions/getElementByIndex.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("../../public/functions/getLast.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("../../public/functions/hex.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("../../public/functions/insert_module_in_catalog.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("../../public/functions/insert_module_in_semester.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("../../public/functions/move_module_to_semester.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("../../public/functions/new_plan.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("../../public/functions/ok_button_new_plan.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("../../public/functions/save.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("../../public/functions/saveAlt.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("../../public/functions/select_module.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("../../public/functions/select_semester.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("../../public/functions/test_1.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("../../public/functions/test_2.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("../../public/functions/test_3.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("../../public/functions/test_4.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("../../public/functions/update_rules.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("../../public/functions/updateModuleString.js")" type="text/javascript"></script>


@if(!message.contains("Mobile")) {
  @desktop(modulListe, katalogListe)
} else {
  @mobile(modulListe, katalogListe)
}


