@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/expandable_tree_list.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/bootstrap-grid.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/bootstrap-reboot.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/stimmungspegel.css")">
        @*<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/easyTree.min.css")">*@

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        @*<title>{% block title %}Semester-Planer{% endblock %}</title>*@

        @*<link rel="stylesheet" type="text/css" href="../../../static/css/bootstrap.css" media="screen" />

        @*<link href="{% static "css/expandable_tree_list.css" %}" rel="stylesheet">*@

        @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">*@
        @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>*@

        @*<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap.min.css")" />*@
        @*<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap/responsive.min.css")" />*@

    </head>

    <body>


        @*#####################################################################################################*@
        @*#####################################################################################################*@
        @*#####################################################################################################*@


        @* And here's where we render the `Html` object containing
        * the page content. *@
        <br>
        <div class="container">

            <div class="row" style="border: 2px solid;border-radius: 5px;padding:5px">

                <div class="col" align="center">
                    <button type="button" class="btn btn-primary">Neu</button>
                </div>

                <div class="col" align="center">
                    <div class="col-1">
                        <button type="button" class="btn btn-primary">-</button>
                    </div>
                    <div class="col-1">
                        <button type="button" class="btn btn-primary">+</button>
                    </div>
                    <div class="col-0">
                        <h4>8</h4>
                    </div>
                </div>

                <div class="col" align="center">
                    <button type="button" class="btn btn-primary">Laden</button>
                </div>

                <div class="col" align="center">
                    <button type="button" class="btn btn-primary">Speichern</button>
                </div>

                <div class="col" align="center">
                    <button type="button" id="test" class="btn btn-primary">PDF</button>
                </div>

            </div>
                <!--</div>-->

            <div class="col-3 pre-scrollable" style="border: 2px solid;border-radius: 10px;padding:10px;height: 4000px">

                <ul class="tree">

                    <li>
                        <span class="katalog" style=" border-bottom: 1px solid; margin: 10px">
                            <div class="icon"></div>
                            <a class="katalog-tag" href="#">Katalog 1</a>
                        </span>

                        <ul>
                            <li><a style="cursor: pointer;border: 2px solid;border-radius: 10px;padding:5px" onclick="">Modul 1</a></li>
                            <p>
                        <li><a style="cursor: pointer;border: 2px solid;border-radius: 10px;padding:5px" onclick="">Modul 1</a></li>
                            <p>
                        <li><a style="cursor: pointer;border: 2px solid;border-radius: 10px;padding:5px" onclick="">Modul 1</a></li>
                            <p>
                                <br>
                        </ul>

                    </li>

                    <li>
                        <span class="katalog" style=" border-bottom: 1px solid; margin: 10px">
                            <div class="icon"></div>
                            <a class="katalog-tag" href="#">Katalog 2</a>

                        </span>

                        <ul>
                            <li style="margin-left:50%"><span><a style="cursor: pointer;border: 2px solid;border-radius: 10px;padding:5px"
                            onclick="">Modul 4</a></span></li>
                            <li style="margin-left:50%"><span><a style="cursor: pointer;border: 2px solid;border-radius: 10px;padding:5px"
                            onclick="">Modul 5</a></span></li>
                            <li style="margin-left:50%"><span><a style="cursor: pointer;border: 2px solid;border-radius: 10px;padding:5px"
                            onclick="">Modul 6</a></span></li>
                            <br>
                        </ul>

                    </li>

                    <li>
                        <span class="katalog" style=" border-bottom: 1px solid; margin: 10px">
                            <div class="icon"></div>
                            <a class="katalog-tag" href="#">Katalog-Frei</a>

                        </span>

                        <ul>

                            <li>
                                <span class="katalog-sub" style=" border-bottom: 1px solid; margin: 10px">
                                    <div class="icon"></div>
                                    <a href="#">UnterKatalog 1</a>
                                </span>
                                <ul>
                                    <br>
                                    <li style="margin-left:40%"><span><a style="cursor: pointer;border: 2px solid;border-radius: 10px;padding:5px" onclick="">Modul 7</a></span>
                                    </li>
                                    <li style="margin-left:40%"><span><a style="cursor: pointer;border: 2px solid;border-radius: 10px;padding:5px" onclick="">Modul 8</a></span>
                                    </li>
                                    <li style="margin-left:40%"><span><a style="cursor: pointer;border: 2px solid;border-radius: 10px;padding:5px" onclick="">Modul 9</a></span>
                                    </li>
                                    <br>
                                </ul>

                            </li>

                            <li>
                                <span class="katalog-sub" style=" border-bottom: 1px solid; margin: 10px">
                                    <div class="icon"></div>
                                    <a href="#">UnterKatalog 2</a>
                                </span>

                                <ul>
                                    <li><span><a href="#">Modul 1</a></span></li>
                                    <li><span><a href="#">Modul 2</a></span></li>
                                    <li><span><a href="#">Modul 3</a></span></li>
                                </ul>

                            </li>

                            <li>
                                <span class="katalog-sub" style=" border-bottom: 1px solid; margin: 10px">
                                    <div class="icon"></div>
                                    <a href="#">UnterKatalog 3</a>
                                </span>

                                <ul>
                                    <li><span><a href="#">Modul 1</a></span></li>
                                    <li><span><a href="#">Modul 2</a></span></li>
                                    <li><span><a href="#">Modul 3</a></span></li>
                                </ul>

                            </li>
                        </ul>

                    </li>

                </ul>

            </div>

        </div>

        @* @content *@
        <script src="@routes.Assets.versioned("js/jquery-3.2.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("js/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("js/easyTree.min.js")" type="text/javascript"></script>
        @*<script src="@routes.Assets.versioned("js/hello.js")" type="text/javascript"></script>


        @*#####################################################################################################*@
        @*#####################################################################################################*@
        @*#####################################################################################################*@

        <script>

                $('.katalog').click(function () {
                    $(this).parent().closest('li').find('ul:first').toggleClass('show-effect');
                });

                $('.katalog-sub').click(function () {
                    $('.katalog-sub').parent().closest('li').find('ul:first').removeClass('show-effect');
                    $(this).parent().closest('li').find('ul:first').toggleClass('show-effect');

                });

                $('#PDF').click(function () {
                    console.log("test");
                });

        </script>
    </body>
</html>
