<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/expandable_tree_list.css")">
        @*<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/bootstrap-grid.min.css")">*@
        @*<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/bootstrap-reboot.min.css")">*@
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/main.css")">

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
        <br>
        <div class="row">
            <span class="col" align="center">
                <h1>
                    Planungsunterstützungstool Master technische Informatik
                </h1>
            </span>
        </div>
        <br>
<!--Menüleiste -->
        <div class="container">
            <div class="row rounded" align="center">
                <div class="col" align="center">
                    <button type="button" class="btn btn-primary">Neuer Plan</button>
                </div>
                <div class="col mar" align="center">
                    <h5>Semesteranzahl</h5>
                </div>
                <div class="col" align="center">
                    <button type="button" onclick="counter_minus()" class="btn btn-primary">-</button>
                </div>
                <div class="col mar" align="center">
                    <h5 id="count">0</h5>
                </div>
                <div class="col" align="center">
                    <button type="button" onclick="counter_plus()" class="btn btn-primary">+</button>
                </div>
                <div class="col" align="center">
                    <button id="button" class="btn btn-primary">Plan laden</button>
                    <input id="file-input" type="file" name="name" style="display: none;"/>
                </div>
                <div class="col" align="center">
                    <button type="button" class="btn btn-primary" style="width: auto">Plan speichern</button>
                </div>
                <div class="col" align="center">
                    <button type="button" class="btn btn-primary" style="width: auto">PDF erstellen</button>
                </div>
                <div class="col mar" align="center">
                    <h5>ECTS:</h5>
                </div>
                <div class="col mar" align="center">
                    <h5>0</h5>
                </div>
            </div>
<!-- Menüleiste Ende -->
            <br>
<!--################################## Modulkataloge #####################################-->
            <div class="row semester-border">
                <div class="col-3 scrollbar rounded-scrollbar-left">
                    <div class="row">
                        <span class="col" align="left">
                            <h4>
                    Modulkataloge
                            </h4>
                        </span>
                    </div>
                    <div class="katalog">
                        <ul class="tree collapsibleList">
                            <li>
							Katalog 1
                                <ul>
                                    <li><a href="#">Modul 1</a></li>
                                    <li><a href="#">Modul 2</a></li>
                                    <li><a href="#">Modul 3</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="katalog">
                        <ul class="tree collapsibleList">
                            <li>
							Katalog 2
                                <ul>
                                    <ul class="collasibleList"></ul>
                                    <li>
									Unterkatalog 1
                                        <ul>
                                            <li><a href="#">Modul 1</a></li>
                                            <li><a href="#">Modul 2</a></li>
                                            <li><a href="#">Modul 3</a></li>
                                        </ul>
                                    </li>

                                    <ul class="collasibleList"></ul>
                                    <li>
									Unterkatalog 2
                                        <ul>
                                            <li><a href="#">Modul 1</a></li>
                                            <li><a href="#">Modul 2</a></li>
                                            <li><a href="#">Modul 3</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="katalog">
                        <ul class="tree collapsibleList">
                            <li>
							Katalog 3
                                <ul>
                                    <li><a href="#">Modul 1</a></li>
                                    <li><a href="#">Modul 2</a></li>
                                    <li><a href="#">Modul 3</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div> <!-- Katalogliste Ende -->
<!--################################## Warnungen #####################################-->
                <div class="col rounded-semester">
                    <div class="row">
                        <div class="col warnungen">
                            <p>
                            Regel 1
                            </p>
                        </div>
                    </div> <!-- Katalogliste Ende -->
                </div>
            </div>

        </div>
<!--################################## Warnungen Ende #####################################-->
    <script>

      $('#button').on('click', function ()
      {
          $('#file-input').trigger('click');
      });

      function counter_plus()
      {
          var wert = Number(document.getElementById("count").textContent);
          wert++;
          document.getElementById("count").textContent = wert;
      }

      function counter_minus()
      {
          var wert = Number(document.getElementById("count").textContent);
          if (wert > 0)
          {
              wert--;
          }
          document.getElementById("count").textContent = wert;
      }

	</script>
    </body>

    <script src="@routes.Assets.versioned("js/jquery-3.2.1.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("js/bootstrap.bundle.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("js/CollapsibleLists.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("js/main.js")" type="text/javascript"></script>

</html>