@(modulListe: List[Array[Object]], katalogListe: List[Array[Object]])

<!DOCTYPE html>
<html lang="en">

  <head>
	<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("Static_Files/css/bootstrap.min.css")">
	<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("Static_Files/css/expandable_tree_list.css")">
	<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("Mobile/mobile.css")">
	<link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("Static_Files/images/favicon.png")">

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  </head>

  <script src="@routes.Assets.versioned("Static_Files/js/jquery-3.2.1.min.js")" type="text/javascript"></script>
  <script src="@routes.Assets.versioned("Static_Files/js/bootstrap.bundle.js")" type="text/javascript"></script>
  <script src="@routes.Assets.versioned("Static_Files/js/CollapsibleLists.js")" type="text/javascript"></script>

  <body>
	  <!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	  <div class="dropdown">
		<button class="btn btn-primary border" type="button" data-toggle="dropdown"><span class="navbar-toggler-icon"></span></button>
		<a id="brand" class="navbar-brand mx-2">Übersicht</a>
		<ul class="dropdown-menu border-blue">
		  <div class="container-fluid">
			<div class="row">
			  <div class="col">
				<button class ="btn btn-primary btn-block btn-space" type="button" onclick="overview()">Übersicht</button>
			  </div>
			  <div class="col">
				<button class ="btn btn-primary btn-block btn-space" type="button" data-toggle = "modal" data-target = "#myModal-new_plan">
				  Neuer Plan</button>
			  </div>
			  <div class="col">
				<button class ="btn btn-primary btn-block btn-space" type="button">Plan speichern</button>
			  </div>
			  <div class="col">
				<button class ="btn btn-primary btn-block btn-space" type="button">Plan laden</button>
			  </div>
			  <div class="col">
				<button class ="btn btn-primary btn-block" type="button">PDF erstellen</button>
			  </div>
			</div>
		  </div>
		</ul>
	  </div>
	  <div class="ml-auto btn-space-right">
		<button id="button_minus" class ="ml-auto btn btn-primary btn-block border btn-width" type="button" onclick = "counter_minus()">
		  -</button>
	  </div>
	  <div class="ml-0">
		<button id="button_plus" class ="ml-auto btn btn-primary btn-block border" type="button" onclick = "counter_plus()">
		  +</button>
	  </div>

	</nav>

	  <!-- PopUp Neuer Plan -->
	<div id = "myModal-new_plan" class = "modal fade" role = "dialog">
	  <div class = "modal-dialog">
		  <!-- PopUp Inhalt-->
		<div class = "modal-content modal-margin">
			<!-- PopUp Kopfzeile -->
		  <div class="modal-header">
			<h4 class="modal-title">Neuen Plan erstellen</h4>
		  </div>
			<!-- PopUp Körper -->
		  <div class="modal-body">
			<div class="container-fluid">
			  <div class="row">
				<div class="col">
				  <h5>Semesteranzahl:</h5>
				  <input type="text" class = "form-control" id = "input-semesteranzahl"
				  placeholder="Semesteranzahl">
				  <p id="fehlermeldung"></p>
				</div>
			  </div>
			  <div class="row">
				<div class="col">
				  <h5>Studienstart:</h5>
				</div>
			  </div>
			  <div class="row">
				<div class = "col radio">
				  <label><input type = "radio" name = "optradio" checked = "checked" id = "radio-winter"
				  value = "winter">
					Winter
				  </label>
				</div>
				<div class = "col radio">
				  <label><input type = "radio" name = "optradio" id = "radio-sommer" value = "sommer">Sommer</label>
				</div>
			  </div>
			</div>
		  </div>
			<!-- PopUp Fußzeile -->
		  <div class = "modal-footer">
			<button type = "button" class = "btn btn-default" data-dismiss = "modal" id="popup-abbrechen">Abbrechen</button>
			<button type = "button" class = "btn btn-default" id = "popup-new-ok"
			onclick = "ok_button_new_plan()">OK
			</button>
		  </div>
		</div>
	  </div>
	</div>

	  <!-- PopUp Katalogliste -->
	<div id = "myModal-catalogs" class = "modal fade" role = "dialog">
	  <div class = "modal-dialog">
		  <!-- PopUp Inhalt-->
		<div class = "modal-content">
			<!-- PopUp Kopfzeile -->
		  <div class="modal-header">
			<h4 class="modal-title">Modulkataloge</h4>
		  </div>
			<!-- PopUp Körper -->
		  <div class="modal-body">
			<div class="container-fluid">
			  <div id="catalog_list">
			  </div>
			</div>
		  </div>
			<!-- PopUp Fußzeile -->
		  <div class = "modal-footer" id="cat_footer">
			<button type = "button" class = "btn btn-default" id = "popup-catalogs-back">Zurück</button>
		  </div>
		</div>
	  </div>
	</div>

	  <!-- PopUp Verschieben/Löschen -->
	<div id = "myModal-modules" class = "modal fade" role = "dialog">
	  <div class = "modal-dialog">
		  <!-- PopUp Inhalt-->
		<div class = "modal-content modal-margin">
			<!-- PopUp Kopfzeile -->
		  <div class="modal-header">
			<h4 class="modal-title">Modul...</h4>
		  </div>
			<!-- PopUp Körper -->
		  <div class="container-fluid modul_popup_buttons">
			<div class="row">
			  <div class="col">
				<button type = "button" class = "btn btn-warning" id = "popup-module-move">Verschieben</button>
			  </div>
			  <div class="col">
				<button type = "button" class = "btn btn-danger" id = "popup-module-delete">Löschen</button>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>


	  <!-- container-fluid body -->
	<div class="container-fluid container_body">
		<!--  container-fluid regeln -->
	  <div class="container-fluid">
	  </div>
		<!--  container-fluid semester (wird dynamisch erstellt -->
	  <div id = "div_semester">
	  </div>
	</div>
	  <!-- container-fluid bottom für Master ECTS -->
	<div class="container-fluid footer bg-primary text-white">
	  <div class="row absolute_center">
		<div class="col">
                  Master ECTS-Punkte:
		</div>
		<div id="master_ects" class="col">
                  0
		</div>
	  </div>
	</div>
  </body>

  <script>
		  var count = 0;
		  var startSem = "winter";
		  var global_sem_id;
		  var global_mod_id;
		  var semester_array = [];
		  var module_array = [];
		  var open = 0;
		  var safe_semester;
		  var safe_modules;
		  var flip = 0;


  </script>
</html>