<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/expandable_tree_list.css")">
    @*<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/bootstrap-grid.min.css")">*@
    @*<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/bootstrap-reboot.min.css")">*@
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("../../public/css/mobile.css")">

    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>
  </body>

  <script src="@routes.Assets.versioned("js/jquery-3.2.1.min.js")" type="text/javascript"></script>
  <script src="@routes.Assets.versioned("js/bootstrap.bundle.js")" type="text/javascript"></script>
  <script src="@routes.Assets.versioned("js/CollapsibleLists.js")" type="text/javascript"></script>
  <script src="@routes.Assets.versioned("../../public/js/mobile.js")" type="text/javascript"></script>


</html>